---
---

@import "type-on-strap";
/*
#main {
  font-size: 60px;
}
*/

#main {
  background-color: unset;
}

.site-title {
    font-size: 32px !important;
}

nav {
  ul {
    li {
      text-transform: lowercase;
    }
  }
}

.post-teaser {

  h1 {
    font-size: 36px;
  }

}

.call-out {
  text-align: left;
  font-size: 25px;
  color: #383838;
  padding: 3% 22%;

  p {
    text-shadow: none;
  }
}

@media only screen and (max-width: 600px) {
  .call-out {
    font-size: 20px;
    padding: 3% 2%;
  }
}

.post-img img {
  padding: 0 0%;
}

.home-page-post-header {
  padding-bottom: 17px;
}
